# This is a basic workflow to help you get started with Actions

name: start_reverse_shell

# Controls when the workflow will run
on:
  repository_dispatch:

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  start_:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
      
      - name: prepare ssh
        env:
          PUBLIC_KEY: ${{ secrets.PUBLIC_KEY }}
        run: |
         sudo apt install openssh-server
         sudo systemctl start ssh
         mkdir -p -m700 $HOME/.ssh
         echo $PUBLIC_KEY > $HOME/.ssh/authorized_keys
         whoami

      # Runs a single command using the runners shell
      - name: install frpc
        run: |
          wget -qOfrp.tgz https://github.com/fatedier/frp/releases/download/v0.48.0/frp_0.48.0_linux_amd64.tar.gz
          tar xf frp.tgz
      
      - name: install transmission
          sudo apt install transmission transmission-daemon
      
      - name: run frpc
        env:
          SERVER_ADDR: ${{ secrets.SERVER_ADDR }}
          SERVER_PORT: ${{ secrets.SERVER_PORT }}
          SERVER_PASS: ${{ secrets.SERVER_PASS }}
          REMOTE_SSH_LISTEN_PORT: ${{ secrets.REMOTE_SSH_LISTEN_PORT }}
        run: ./frp*/frpc -c $GITHUB_WORKSPACE/frpc.ini &
        
      - run: sleep 5.9h
      - run: sleep 5.9h
      - run: sleep 5.9h
      - run: sleep 5.9h
      - run: sleep 5.9h
      - run: sleep 5.9h
      - run: sleep 5.9h
      - run: sleep 5.9h
      - run: sleep 5.9h
      - run: sleep 5.9h
      - run: sleep 5.9h
      - run: sleep 5.9h
      - run: sleep 5.9h
      - run: sleep 5.9h
      - run: sleep 5.9h
      - run: sleep 5.9h
